{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-confusing-arrow": 0,
    "linebreak-style": 0,
    "no-mixed-operators": 0
  }
}